.nav_bar {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: solid var(--primary-color);
  padding: 1rem;
}

.application_title {
  color: var(--text-color);
  margin-right: 3rem;
}

.nav_item {
  color: var(--text-color);
  margin-right: 1rem;
}
